.blog-post {
    margin-bottom: 2 * $global-margin;
}

.blog-social {
    a {
        margin-left: $global-margin;
    }
}

.blog-comments {
    margin-top: 60px;
}

.blog-timestamp {
    opacity: .8;
}
