.blog-post {
    margin-bottom: 2 * $global-margin;
}

.blog-title {
    $page-title-font-size;
}

.blog-social {
    a {
        margin-left: $global-margin;
    }
}

.blog-comments {
    margin-top: 60px;
}

.blog-author {
}

.blog-timestamp {
    color: $timestamp-color;
}
