.button-group {
    display: inline-flex;
}

.button-group .button:first-child {
    border-bottom-left-radius: $global-radius;
    border-top-left-radius: $global-radius;
}

.button-group .button:last-child {
    border-bottom-right-radius: $global-radius;
    border-top-right-radius: $global-radius;
}

.button-group .button {
    border-radius: 0;
}

.button-group .button:not(:last-child) {
    margin-right: 0;
}

.button.hollow.secondary {
    border: solid 1px $secondary-color;
    background: $white;
    color: $secondary-color;

    &:hover {
        border: solid 1px $dark-gray;
    }
}
