.button.secondary {
    border: solid 1px darken($medium-gray, 5%);
    background: $light-gray;
    color: $secondary-color;

    &:hover {
        color: $secondary-color;
        background: $medium-gray;
    }

    &:active, &:focus {
        color: $secondary-color;
        background: $medium-gray;
    }
}

.button-group {
    display: inline-flex;
}

.button-group .button:first-child {
    border-bottom-left-radius: $global-radius;
    border-top-left-radius: $global-radius;
    border-left-width: 1px;
}

.button-group .button:last-child {
    border-bottom-right-radius: $global-radius;
    border-top-right-radius: $global-radius;
    border-right-width: 1px;
}

.button-group .button {
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.button-group .button:not(:last-child) {
    margin-right: 0;
}

.button:active {
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2)
}

.button:focus {
    outline: none;
}
