.callout {
    word-wrap: break-word;

    &.primary {
        border: solid 1px lighten($primary-color, 20%);
        color: darken($primary-color, 30%);
    }

    &.secondary {
        border: solid 1px lighten($secondary-color, 20%);
        color: darken($secondary-color, 30%);
    }

    &.success {
        border: solid 1px lighten($success-color, 20%);
        color: darken($success-color, 30%);
    }

    &.warning {
        border: solid 1px lighten($warning-color, 20%);
        color: darken($warning-color, 30%);
    }

    &.alert {
        border: solid 1px lighten($alert-color, 25%);
        color: darken($alert-color, 30%);
    }
}
