.card-container {
    background: $white;
    border: $global-border;
    margin-bottom: $global-margin;
}

.card {
    background: $white;
    border-bottom: $global-border;
    display: flex;
    flex-flow: row wrap;
    //font-size: $card-description-font-size;
    //padding-bottom: $global-margin;
    //padding-top: $global-margin;
    position: relative;
    //width: 100%;
    //word-wrap: break-word;
}

.card-chevron {
    color: $medium-gray;
    position: absolute;
    right: 0;
    top: 0;
    padding: $global-padding * 0.5 $global-padding;

    &:hover {
        cursor: pointer;
        color: $dark-gray;
    }
}

.card-title {
    font-size: $card-title-font-size;
    font-weight: bold;
}

.card-count {
    margin-right: $global-margin;
    display: inline-block;
}

.box {
    padding-top: $global-padding;
    padding-bottom: $global-padding;
}
