html {
    font-size: 16px;
}

.row {
    max-width: #{rem-calc(map-get($breakpoints, xlarge)) - 2 * $global-margin};
}

div {
    word-break: break-word;
}

// Sticky footer
.main-component {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

.main-content {
    flex: 1 0 auto;
}

.page-body {
    font-size: rem-calc(14px);
    margin-bottom: 2 * $global-margin;
    margin-top: 2 * $global-margin;

    &.white {
        background: $white;
        border: $global-border;
        border-radius: $global-radius;
        padding: 2 * $global-padding $global-padding;

        @include breakpoint (large down) {
            margin: 2 * $global-margin $global-margin;
        }

        @include breakpoint (small only) {
            margin-bottom: -1px;
            margin-left: 0;
            margin-right: 0;
            margin-top: -1px;
            padding: 2 * $global-padding 0;
        }
    }
}

.page-footer {
    background: $white;
    border-top: solid 2px $medium-gray;
    font-size: rem-calc(14px);
    padding-bottom: 2 * $global-margin;
    padding-top: 2 * $global-margin;
    width: 100%;

    .menu {
        margin-bottom: $global-margin;
    }

    .menu-text,
    .menu > li > a {
        padding: .3rem 0;
    }
}

.footer-logo-container {
    margin-bottom: $global-margin;
}

.footer-logo {
    font-size: rem-calc(20px);
    font-weight: bold;
}

.thing-description {
    display: block;
    font-size: rem-calc(16px);
    margin-bottom: 10px;
}

.markdown > :last-child {
    margin-bottom: 0 !important;
}

a.secondary {
    color: $secondary-color;

    &:hover {
        color: $secondary-color-light;
    }
}

time {
    color: hsla(0, 0%, 45%, 1);

    &:hover {
        cursor: pointer;
    }
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-bottom {
    margin-bottom: $global-margin;
}

[class*="hint--"]:before,
[class*="hint--"]:after {
    z-index: $z-20;
}
