// Sticky footer

div {
    word-break: break-word;
}

.main-component {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.page-body {
    margin-top: 2 * $global-margin;
    margin-bottom: 2 * $global-margin;
    font-size: 14px;
    &.white {
        background: $white;
        padding: 2 * $global-padding $global-padding;
        border: $global-border;
        border-radius: $global-radius;

        @include breakpoint (xlarge down) {
            margin: 2 * $global-margin $global-margin;
        }
        @include breakpoint (small only) {
            padding: 2 * $global-padding 0;
            margin-top: -1px;
            margin-bottom: -1px;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.page-footer {
    font-size: 14px;
    padding-bottom: 2 * $global-margin;
    padding-top: 2 * $global-margin;
    border-top: solid 2px $medium-gray;
    background: $white;
    width: 100%;

    .menu {
        margin-bottom: $global-margin;
    }

    .menu-text, .menu > li > a {
        padding: 0.3rem 0;
    }
}

.footer-logo-container {
    margin-bottom: $global-margin;
}

.footer-logo {
    font-size: 20px;
    font-weight: bold;
}

.thing-description {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.card-chevron {
    color: $medium-gray;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    margin-right: 5px;

    &:hover {
        cursor: pointer;
        color: $dark-gray;
    }
}

.card-title {
    font-size: $card-title-font-size;
    font-weight: bold;
}

.card-count {
    margin-right: 10px;
}

a.secondary {
    color: $secondary-color;

    &:hover {
        color: $secondary-color-light;
    }
}

time {
    color: hsla(0, 0%, 45%, 1);
    &:hover {
        cursor: pointer;
    }
}
