.page-title {
    margin-bottom: 0;
}

.page-body {
    margin-top: 2 * $global-margin;
    margin-bottom: 2 * $global-margin;
}

.card-container {
    background: $white;
    border: $global-border;
    margin-left: -$global-margin;
    margin-right: -$global-margin;
}

.card {
    border-bottom: $global-border;
    color: $secondary-color;
    display: flex;
    flex-flow: row wrap;
    font-size: $card-description-font-size;
    padding-bottom: $global-margin;
    padding-top: $global-margin;
    width: 100%;
    word-wrap: break-word;
}

.card:last-of-type {
    border-bottom: 0;
}

.card-title {
    font-size: $card-title-font-size;
    font-weight: bold;
}

a.secondary {
    color: $secondary-color;

    &:hover {
        color: lighten($secondary-color, 10%);
    }
}
