.discuss-card {
    background: $white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    padding-top: 1px;
}

.discuss-empty {
    margin-top: $global-margin;
}

.discuss-comment + .discuss-comment {
    border-bottom: solid 1px $medium-gray;
    padding-top: $global-margin;
}

.discuss-comment:first-of-type {
    border-top: solid 1px $medium-gray;
    padding-top: $global-margin;
    border-bottom: solid 1px $medium-gray;
}

.discuss-username {
    font-weight: bold;
}

.discuss-updated {
    color: $secondary-color;
    font-size: 14px;
}

.discuss-reply {
    margin-top: $global-margin;
}
