.history-card {
    background: $white;
    box-shadow: $global-card-shadow;
}

.history-item + .history-item {
    border-bottom: solid 1px $medium-gray;
    padding-top: $global-margin;
}

.history-item:first-of-type {
    border-top: solid 1px $medium-gray;
    padding-top: $global-margin;
    border-bottom: solid 1px $medium-gray;
}

.history-item {
    padding: $global-margin;
}

.history-user {

}
