.home-tagline {
    font-size: rem-calc(20px);
}

.home-video-thumb {
    border-radius: $global-radius;
    overflow: hidden;
}

.home-section {
    font-size: rem-calc(18px);
    font-variant: small-caps;
    font-weight: normal;
    margin-bottom: $global-margin;
    margin-top: $global-margin;
    text-align: center;
}

.video-title {
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.person-card {
    display: inline-block;
    margin-bottom: $global-margin;
    padding: 2 * $global-padding;
    text-align: center;
    width: 250px;
}

.person-card-title {
    display: block;
    font-size: rem-calc(20px);
}

.person-card-img {
    border: solid 6px $white;
    border-radius: 999em;
    display: inline-block;
    height: 120px;
    margin-bottom: $global-margin;
    width: 120px;
    overflow: hidden;
    text-align: center;
}

.person-card-description {
    color: lighten($secondary-color, 25%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-books {
    display: inline-block;
    margin-bottom: $global-margin;
    margin-top: $global-margin;
}
