.img {
    border-radius: 2px;
}
.img.shadow {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.image-container {
    max-width: 100%;
    margin: 0 auto;
}

.image-upload-preview {
    margin-bottom: $global-margin;
}

.react-cropper {
    width: 270px;
    height: 270px;
    margin-bottom: $global-margin;
}
