.img {
    border-radius: 2px;

    .shadow {
        box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    }
}


.image-container {
    margin: 0 auto;
    max-width: 100%;

    &.bottom-margin {
        margin-bottom: $global-margin;
    }
}

.image-upload-preview {
    margin-bottom: $global-margin;
}

.react-cropper {
    height: 270px;
    margin-bottom: $global-margin;
    width: 270px;
}

.video-duration-container {
    display: inline-block;
    position: relative;
}

.video-duration {
    background: rgba(0, 0, 0, .75);
    bottom: 0;
    color: $white;
    font-size: 11px;
    font-weight: bold;
    padding: 0 5px;
    position: absolute;
    right: 0;
}
