.modal-content {
    background: $white;
    border-radius: $global-radius;
    border: 0;
    color: $body-font-color;
    left: 0;
    margin: auto;
    max-height: 75%;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: $global-padding * 1.5;
    position: fixed;
    right: 0;
    top: 10%;
    width: 50%;
    z-index: $z-30;

    @include breakpoint(xxlarge) {
        width: 40%;
    }

    @include breakpoint(xlarge) {
        width: 55%;
    }

    @include breakpoint(large) {
        width: 70%;
    }

    @include breakpoint(medium) {
        width: 80%;
    }

    @include breakpoint(small) {
        width: 90%;
    }
}

.modal-small {
    max-width: 480px;
}

.modal-overlay {
    background-color: $reveal-overlay-background;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $z-20;
}

.modal-close {
    cursor: pointer;
    display: inline;
    padding: $global-padding;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
        opacity: .8;
    }
}
