.modal-content {
    color: $body-font-color;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    border: none;
    overflow: auto;
    border-radius: $global-radius;
    outline: none;
    padding: $global-padding * 1.5;
    background: $white;
    max-height: 75%;
    margin: auto;
    width: 50%;
    z-index: $z-30;

    @include breakpoint(xxlarge) {
        width: 40%;
    }
    @include breakpoint(xlarge) {
        width: 55%;
    }
    @include breakpoint(large) {
        width: 70%;
    }
    @include breakpoint(medium) {
        width: 80%;
    }
    @include breakpoint(small) {
        width: 90%;
    }
}

.modal-small {
    max-width: 480px;
}

.modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: $reveal-overlay-background;
    z-index: $z-20;
}

.modal-close {
    display: inline;
    position: absolute;
    right: 0;
    top: 0;
    padding: $global-padding;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}
