.top-bar {
    background: $white;
    border-bottom: solid 2px $medium-gray;
    font-size: rem-calc(14px);
    padding-bottom: 0;
    padding-top: 0;
}

.top-bar,
.top-bar ul {
    height: $topbar-height;
}

.top-bar ul {
    background: none;
}

.navicon {
    display: inline-block;
    font-size: rem-calc(20px);
    height: $topbar-height;
    line-height: $topbar-height;
    padding-left: $global-padding;
    padding-right: $global-padding;
    vertical-align: middle;

    &:hover {
        cursor: pointer;
    }
}

.site-title {
    display: inline-block;
    font-size: rem-calc(16px);
    font-weight: bold;
    height: $topbar-height;
    line-height: $topbar-height;
    padding-left: $global-padding;
    padding-right: $global-padding;
    vertical-align: middle;
}

.top-bar .top-bar-left,
.top-bar .top-bar-right {
    flex: 1 1 auto;
}

.navbar-link {
    align-items: center;
    color: hsla(0, 0%, 50%, 1);
    font-size: rem-calc(15px);

    .icon {
        font-size: rem-calc(20px);
    }

    *:last-child {
        margin-left: $global-margin;
    }
}

.navbar-search {
    background: $white;
    border-bottom: solid 2px $medium-gray;
    height: $topbar-height;
    left: 0;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    width: 100%;
    z-index: $z-20;

    .search-bar {
        margin-bottom: 0;
        width: 100%;
    }
}

.navbar-search-large {
    margin-right: $global-margin;
}
