.top-bar {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: solid 2px $medium-gray;
    background: $white;
}

.top-bar, .top-bar ul {
    height: $topbar-height;
}

 .top-bar ul {
    background: none;
}

.top-bar input {
    margin-right: 0;
    max-width: none;
}

.navbar-icon {
    padding-left: $global-margin;
    padding-right: $global-margin;
    font-size: 20px;
    color: $black;
}

.top-bar .top-bar-left, .top-bar .top-bar-right {
    flex: 1 1 0px;
}

.navbar-search {
    background: white;
    border-bottom: solid 2px $medium-gray;
    height: $topbar-height;
    left: 0;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    width: 100%;
    z-index: $z-20;

    .search-bar {
        margin-bottom: 0;
        width: 100%;
    }
}
