.top-bar {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: solid 2px $medium-gray;
    background: $white;
}

.top-bar, .top-bar ul {
    height: 50px;
}

 .top-bar ul {
    background: none;
}

.top-bar input {
    margin-right: 0;
}

.navbar-icon {
    padding-left: $global-margin;
    padding-right: $global-margin;
    font-size: 20px;
}
