.placeholder {
    background: $white;
    border: solid 1px $medium-gray;
    color: #c5c5c5;
    font-size: 40px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;

    &.placeholder-video {
        line-height: 100px;
        height: 100px;
        background: $light-gray;
        width: 150px;
    }
}
