.select-options {
    background: $light-gray;
    border: $global-border;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
}

.select-option {
    padding-bottom: 8px;
    padding-left: $global-margin;
    padding-top: 8px;
    background: $white;

    &:hover {
        background: $light-gray;
        cursor: pointer;
    }
}

.select-clear {
    height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
    line-height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
    padding-right: $global-margin;
    position: absolute;
    right: 0;
    top: 0;
}
