.top-bar input {
    width: 400px;
}

.select-options {
    background: $light-gray;
    border: $dropdown-border;
    border-radius: $global-radius;
    box-shadow: $dropdown-shadow;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: $z-10;
}

.select-option {
    background: $white;
    color: $primary-color;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: $global-margin;
    padding-right: $global-margin;
    padding-top: 5px;
    display: flex;
    align-items: center;

    &:hover {
        background: $medium-gray;
        cursor: pointer;
    }
}

.select-option-image {
    margin-right: 15px;
}

.select-option-type {
    color: $secondary-color;
    font-size: 13px;
    font-weight: normal;
    text-transform: capitalize;
}

.select-more-results {
    border-top: $global-border;
}

.select-option-message {
    color: $body-font-color;
    font-weight: normal;
}

.select-clear {
    height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
    line-height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
    padding-right: $global-margin;
    position: absolute;
    right: 0;
    top: 0;
}
