.menu-item {
    border-bottom: $global-border;
    padding-left: 2 * $global-margin;
    padding-right: 2 * $global-margin;
    font-size: 16px;
    line-height: 44px;
    background: $white;
}

.menu-item-icon {
    margin-right: 30px;
    font-size: 1.5em;
    vertical-align: middle;
}

.menu-text {
    padding: 0;
}

/* Position and sizing of burger button */
.bm-burger-button {
    @include hide-for(large);
    position: absolute;
    width: 21px;
    height: 15px;
    right: 20px;
    top: 18px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
    background: $white;
    padding-top:  120px;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
