.tabs {
    border: 0;
    overflow-x: auto;
    white-space: nowrap;
}

.tabs.vertical {
    height: 100%;
    border-right: $global-border;
}

.tabs-panel {
    padding: 0;
}

.tabs-title {
    display: inline-block;
    float: none;
}

.tabs-title > a {
    border: 0;
    font-size: 14px;
    color: $secondary-color;

    &:focus, &:hover {
        background: $light-gray;
    }
}

.vertical .tabs-title > a {
    border-bottom: $global-border;
}

.tabs-title.is-active > a {
    font-weight: bold;
}

.tabs-title > a:hover {
}

.tabs-content {
    border: 0;
}
