.tabs {
    border: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.tabs.vertical {
    height: 100%;
    border-right: $global-border;
}

.tabs-panel {
    padding: 0;
}

.tabs-title {
    display: inline-block;
    float: none;
}

.tabs-title > a {
    border: solid 1px transparent;
    font-size: rem-calc(14px);
    color: $secondary-color;
    border-bottom: 0;
    border-top-left-radius: $global-radius;
    border-top-right-radius: $global-radius;

    &:focus, &:hover {
        background: $light-gray;
    }
}

.vertical .tabs-title > a {
    border-bottom: $global-border;
}

.tabs-title.is-active > a {
    font-weight: bold;
    background: $white;
    border: $global-border;
    border-bottom: 0;
}

.tabs-title > a:hover {
    background: $white;
    border: $global-border;
    border-bottom: 0;
}

.tabs-content {
    border: 0;
}
