.tabs {
    border: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.tabs.vertical {
    height: 100%;
    border-right: $global-border;
}

.tabs-panel {
    padding: 0;
}

.tabs-title > a {
    line-height: inherit;
    font-size: rem-calc(14px);
    color: $secondary-color;
}

:not(.vertical) > .tabs-title {
    display: inline-block;
    float: none;

    &.is-active > a {
        background: $white;
        border: $global-border;
        border-bottom: 0;
        font-weight: bold;
    }

    & > a {
        border: solid 1px transparent;
        border-bottom: 0;
        border-top-left-radius: $global-radius;
        border-top-right-radius: $global-radius;

        &:focus, &:hover {
            background: $white;
            border: $global-border;
            border-bottom: 0;
        }
    }
}

.vertical .tabs-title {
    & > a {
        border-bottom: $global-border;
    }

    &.is-active > a {
        border: 0;
        border-bottom: $global-border;
        font-weight: bold;
    }

    &:focus, &:hover {
        background: $light-gray;
    }
}

.tabs-content {
    border: 0;

    &:not(.vertical) {
        margin-bottom: $global-margin;
    }
}
