.tag {
    -webkit-appearance: none;
    background: $white;
    border: solid 1px #dedede;
    border-radius: 999em;
    color: #404040;
    cursor: pointer;
    display: inline-block;
    font-size: rem-calc(13px);
    line-height: 1;
    margin: 0;
    padding: .6em 1em;
    text-align: center;
    transition: background-color .25s ease-out, color .25s ease-out;
    vertical-align: middle;
}

.tag-card {
    display: block;
    width: 100%;
    margin-bottom: $global-margin;
    position: relative;;

    img {
        border-radius: $global-radius;
        width: 100%;
    }

    & > .label {
        background: rgba(0, 0, 0, 0.7);
        border-bottom-left-radius: $global-radius;
        border-bottom-right-radius: $global-radius;
        bottom: 0;
        color: $white;
        display: block;
        font-size: rem-calc(18px);
        font-weight: bold;
        line-height: 2.5;
        padding-left: $global-padding;
        position: absolute;
        text-align: left;
        width: 100%;
    }
}
