.page-body {
    margin-top: 2 * $global-margin;
    margin-bottom: 2 * $global-margin;
}

.mention-icon {
    margin-right: 8px;
}

.book-card {
    text-align: center;
    margin-top: $global-margin;
    margin-bottom: $global-margin;
}

.book-title {
    margin-top: 5px;
}
