.page-body {
    margin-top: 2 * $global-margin;
}

.discuss-comment {
    border-bottom: solid 1px $medium-gray;
    padding-bottom: $global-padding;
    margin-bottom: $global-margin;
}

.mention-block {
    border-bottom: solid 1px $medium-gray;
    padding-bottom: $global-padding;
    margin-bottom: $global-margin;
}

.mention-short-description {

}

.mention-quote {

}

.mention-edit {

}

.discuss-comment {

}

.discuss-username {

}

.discuss-updated {

}

.discuss-text {

}
