@import 'normalize';
@import './../../node_modules/hint.css/hint';
@import 'app';
@import 'override';

@import 'components/nprogress';
@import 'components/badge';
@import 'components/button-group';
@import 'components/common';
@import 'components/navbar';
@import 'components/pagebar';
@import 'components/placeholder';
@import 'components/select';
@import 'components/sidebar';
@import 'components/snackbar';
@import 'components/tables';
@import 'components/tabs';
@import 'components/images';
@import 'components/rcslider';
@import 'components/modal';
@import 'components/forms';
@import 'components/spinner';
@import 'components/callout';
@import 'components/widget';
@import 'components/dropdown';
@import 'components/card';
@import 'components/footer';

@import 'offline/offline-theme-dark';
@import 'offline/offline-language-english';
@import 'cropper';

// * { background-color: rgba(255,0,0,.2); }
// * * { background-color: rgba(0,255,0,.2); }
// * * * { background-color: rgba(0,0,255,.2); }
// * * * * { background-color: rgba(255,0,255,.2); }
// * * * * * { background-color: rgba(0,255,255,.2); }
// * * * * * * { background-color: rgba(255,255,0,.2); }
