@import 'normalize';
@import 'app';
@import 'override';

@import 'components/common';
@import 'components/pagebar';
@import 'components/thingpage';
@import 'components/discusspage';
@import 'components/sidebar';
@import 'components/blog';
@import 'components/navbar';

//* { background-color: rgba(255,0,0,.2); }
//* * { background-color: rgba(0,255,0,.2); }
//* * * { background-color: rgba(0,0,255,.2); }
//* * * * { background-color: rgba(255,0,255,.2); }
//* * * * * { background-color: rgba(0,255,255,.2); }
//* * * * * * { background-color: rgba(255,255,0,.2); }
