.select-options {
    position: absolute;
    background: #fefefe;
    top: 100%;
    width: 100%;
    border: solid 1px #ddd;
}

.select-option {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a:hover {
    color: #999;
}

thead,
tbody {
    font-weight: normal;
    border: none;
    background: none;
}

tbody tr:nth-child(even) {
    border: none;
    background: none;
}

.callout {
    border: none;
}

.pagination {
    margin-top: 45px;
}

.tabs {
    border-top: none;
    border-left: none;
    border-right: none;
}

.tabs-title > a {
    font-size: 15px;
    padding-top: 11px;
    border: none;
    padding-bottom: 7px;
    padding-right: 0;
    padding-left: 0;
    margin-right: 40px;

    &:hover {
        color: #aaa;
    }
}

.tabs-title.is-active > a{
    background: none;
    border-bottom: solid 4px;

    &:hover {
        color: $primary-color;
    }
}
