img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.badge {
    padding: .1em;
    background: $light-gray;
    border-radius: 1em;
    color: $black;
}

.select-options {
    position: absolute;
    background: #fefefe;
    top: 100%;
    width: 100%;
    border: solid 1px #ddd;
    z-index: 1;
}

.select-option {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.select-clear {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
    line-height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
}

.top-bar {
    padding-top: 0;
    padding-bottom: 0;
}

.top-bar input {
    margin-right: 0;
}

a:hover {
    color: #999;
}

thead,
tbody {
    font-weight: normal;
    border: none;
    background: none;
}

tbody tr:nth-child(even) {
    border: none;
    background: none;
}

.callout {
    border: none;
}

.pagination {
    margin-top: 45px;
}

.tabs {
    border-top: none;
    border-left: none;
    border-right: none;
}

.tabs-title > a {
    font-size: 15px;
    padding-top: 11px;
    border: none;
    padding-bottom: 7px;
    padding-right: 0;
    padding-left: 0;
    margin-right: 40px;

    &:hover {
        color: #aaa;
    }
}

.tabs-title.is-active > a{
    background: none;
    border-bottom: solid 4px;

    &:hover {
        color: $primary-color;
    }
}
