<!DOCTYPE html>
<html lang="en">
    <head itemscope itemtype="http://schema.org/WebSite">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Source+Sans+Pro:400,200,700:latin' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })(); </script>

        <!-- htmlmin:ignore -->
        <%= title %>
        <%= meta %>
        <%= link %>
        <!-- htmlmin:ignore -->

        <link href='/assets/ionicons/ionicons.min.css' rel='stylesheet' type='text/css'>
        <!--
        <link href='//cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>
        Temporarily disabled
        -->

        <!--uncache-->
        <link href="/assets/main.css" rel="stylesheet">
        <!--enduncache-->

        <script>
            // Console-polyfill. MIT license.
            // https://github.com/paulmillr/console-polyfill
            // Make it safe to do console.log() always.
            (function(global) {
            'use strict';
            global.console = global.console || {};
            var con = global.console;
            var prop, method;
            var empty = {};
            var dummy = function() {};
            var properties = 'memory'.split(',');
            var methods = ('assert,clear,count,debug,dir,dirxml,error,exception,group,' +
                'groupCollapsed,groupEnd,info,log,markTimeline,profile,profiles,profileEnd,' +
                'show,table,time,timeEnd,timeline,timelineEnd,timeStamp,trace,warn').split(',');
            while (prop = properties.pop()) if (!con[prop]) con[prop] = empty;
            while (method = methods.pop()) if (typeof con[method] !== 'function') con[method] = dummy;
            // Using `this` for web workers & supports Browserify / Webpack.
            })(typeof window === 'undefined' ? this : window);
        </script>

        <!-- htmlmin:ignore -->
        <script id='api-data' type='application/json'><%= apidata %></script>
        <!-- htmlmin:ignore -->

        </head>

        <body>
            <!-- htmlmin:ignore -->
            <div id="page-container"><%= content %></div>
            <!-- htmlmin:ignore -->
        </body>

        <!--uncache-->
        <script async src="/assets/bundle.js"></script>
        <!--enduncache-->
</html>
